/*GLOBAL*/
*{
    margin: 0%;
    padding: 0%;
  }
  body {
    background: rgb(0, 0, 0);
    font-family: 'Roboto',sans-serif;
  }
  ul{
    list-style: none;
  }
  
  /*FONTS*/
  h1, h2, h3, .price{
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
  }
  header h1, header p, h3, strong{
    color: white;
  }
  header h1 span{
    color: rgb(225, 109, 7);
  }
  section h2{
    padding: 8px 16px;
    background-color: rgb(252, 168, 13);
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
  }
  h3{
    font-size: 16px;
    padding-bottom: 5px;
  }
  section p{
    color: rgb(252, 168, 13);
    font-size: 14px;
  }
  .price{
    font-size: 17px;
  }
  .details{
    padding-bottom: 10px;
  }
  
  /*HEADER*/
  header{
    text-align: center;
    padding: 32px 0;
  }
  header, section{
    max-width: 300px;
    margin: 0 auto;
  }
  section{
    margin-bottom: 24px;
  }
  ul li{
    margin-bottom: 16px;
    display: flex;
  }
  li .details{
    max-width: 240px;
  }
  
  
  